html,body{
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
body,h1,a{
	text-decoration: none;
	font-family: 'parseltongue';
	font-size: 100px;
	color: #000;
}

@font-face {
    font-family: 'parseltongue';
    src: url('../fonts/parseltongue.ttf');
}

